body
{
	margin: 0px;
	padding: 0px;
	font-family: Arial, Helvetica, sans-serif !important;
	font-size: 12px;
	color: #787878;
}

.container-fluid
{
	padding: 0px !important;
}

h1, h2, h3
{
	margin: 0px;
	padding: 0px;
	font-family: Verdana, Geneva, sans-serif;
	font-weight: normal;
	color: #F93D00;
}

#banner
{
	background: #DFF2F9;
}

#bannerImg_xs
{
	width: 100%;
}

#bannerImg_sm
{
	width: 732px;
	margin: auto;
}

#bannerImg_lg
{
	width: 968px;
	margin: auto;
}

#menu
{
	background: #757575; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(#373737, #757575, #373737); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#373737, #757575, #373737); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#373737, #757575, #373737); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#373737, #757575, #373737); /* Standard syntax */
	width: 100%;
}

.list-inline
{
	line-height: 50px;
	margin: auto !important;
}

.list-inline>li
{
	height: 50px;
	border-right: thin solid black;
}

@media only screen and (max-width: 767px)
{
	.list-inline
	{
		width: 320px;
	}

	.list-inline>li
	{
		padding: 0px 20px !important;
	}
}

@media only screen and (min-width: 768px) and (max-width: 991px)
{
	.list-inline
	{
		width: 660px;
	}

	.list-inline>li
	{
		padding: 0px 15px !important;
	}
}

@media only screen and (min-width: 992px) and (max-width: 1199px)
{
	.list-inline
	{
		width: 960px;
	}

	.list-inline>li
	{
		padding: 0px 45px !important;
	}
	#sidebar
	{
		padding-right: 0px;
	}
}

@media only screen and (min-width: 1200px)
{
	.list-inline
	{
		width: 1110px;
	}

	.list-inline>li
	{
		padding: 0px 60px !important;
	}
}

#menu a
{
	text-decoration: none;
	color: white !important;
	font-size: 13px;
}

#menu a:hover
{
	text-decoration: underline;
}

#services_menu
{
	width: 260px;
	margin: auto;
	text-align: center;
	background: transparent;
	position: relative;
	left: -26px;
}

#services_menu>li
{
	line-height: 300%;
}

.ServUpDown
{
	font-size: 10px;
}

#sidebar, #mainbody
{
	border-top: 40px solid #DFF2F9;
	padding-top: 20px;
}

#SidebarTitle
{
	font-family: Verdana, Geneva, sans-serif;
	text-align: center;
	background: #373737;
	color: white;
	line-height: 200%;
	border-radius: 10px 10px 0px 0px;
	margin-top: 0px;
}

#SidebarList>li
{
	border-bottom: thin dashed #D2D4C9;
	margin-bottom: 10px;
}

#SidebarList>li>a
{
	font-size: 12px;
	color: #417FDA;
}

#SidebarList>li>p
{
	font-size: 11px;
	color: #787878;
	font-style: italic;
}

.BodyText
{
	font-size: 12px;
	color: #787878;
	text-align: justify;
	position: relative;
	border-radius: 10px;
	padding: 25px 20px 15px;
	margin-bottom: 10px;
	background: #DFF2F9; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(#DFF2F9, #B3DDF3); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#DFF2F9, #B3DDF3); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#DFF2F9, #B3DDF3); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#DFF2F9, #B3DDF3); /* Standard syntax */
}

.BodyText>p>a
{
	color: #417FDA;
	text-decoration: none;
	border-bottom: thin dotted #999999;
}

.BodyText>article>h5
{
	font-weight: bold;
	text-decoration: underline;
}

.BodyText>article>p
{
	margin: 0px;
}

.BodyTitle
{
	margin-top: 0px;
	line-height: 200%;
	text-align: center;
	color: black;
}
